body {
  text-align: center;
  background-color: #283149;
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}
svg {
	height: 90vh;
	width: 100vw;
  margin-top: -10vh;
	display: block;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


#Drums:hover {
	cursor: pointer;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
  margin-top: -10vh;
}